
<div class="row">
  <div class="col-sm-4 col-sm-offset-3">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
      <input type="text" class="form-control input-lg" ng-model="q" ng-model-options="{ debounce: { 'default': 700, 'blur': 0 } }" placeholder="Search for artists">
    </div>
  </div>
</div>


<section class="results">
  <ul class="grid-list">
    <li class="col-sm-3" ng-repeat="result in results">
      <div class="wrp">
        <a ui-sref="artistsDetail({ artistId : result.id })">
          <img src="{{result.images[0].url || 'http://placehold.it/600x600'}}" class="img-responsive">
        </a>
        <a ui-sref="artistsDetail({ artistId : result.id })">
          <p>{{result.name}}</p>
        </a>
        <span class="fav" ng-click="toggleFavourite(result.id)">
          <i ng-if="isFavourite(result.id)" class="fa fa-heart"></i>
          <i ng-if="!isFavourite(result.id)" class="fa fa-heart-o"></i>
        </span>
      </div>
    </li>
  </ul>
</section>
